# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
NMessaging.suo
_ReSharper.NMessaging/BuildScriptCache/.crc
_ReSharper.NMessaging/NamedArguments/1/5c1200fa.dat
_ReSharper.NMessaging/AspFileDataCache.dat
_ReSharper.NMessaging/BuildScriptCache
_ReSharper.NMessaging/
NMessaging.suo
NMessaging.suo
NMessaging.Transport/NMessaging.Transport.csproj.user
NMessaging.suo
NMessaging.suo
NMessaging.suo
